html,body{
  margin:0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FAFAFA;
  color:#023047;
}
 header {
            background-color: #006D77;
            color: white;
            padding: 15px;
            text-align: center;
        }

 .container{
  margin: 20px; 
  padding:20px;
 }
 .container h3{
  text-align: center;
 }
 .card{
  background-color: #EDF6F9;
  margin: 10px 0;
  padding:10px;
  border-radius: 8px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
 }
 .card a {
            
            color: #219EBC;
            font-weight: bold;
            text-decoration: none;
        }
.card a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
footer{
 background-color:#219EBC;
 color:white;
 text-align :center;
 padding: 15px;
      }
  